<div class="grid_8 exploits">
	<% @posts.each do |p|%>
	<div class="post">
		<h2 class="title"><%= link_to p.title, "/news#{p.permalink}" %></h2>
		<div class="content">
			<div class="datemark">
				<p><%= p.post_date_gmt.to_s( :article ) %></p>
			</div>
			<%= p.clean_content.html_safe -%>
		</div>
	</div>
	<% end %>
</div>
<div class="grid_4 sidebar">
<%= render :partial => 'sidebar' %>
</div>
<div class="clear"></div>

