  <div id="header" class="span-24 last">

    <h1 id="logo"><%= image_tag "titles/logo.png" %></h1>
  </div>

  <hr />
  <div id="subheader" class="span-24 last">
    <h3 class="alt">Get opinions on your latest novel, and read what other people are writing about.</h3>
  </div>

  <hr />